<div class ="card shadow">
<h5 class = "card-header">
    Product
</h5>
<div class ="card-body">
    {{#if this.error}}
    <div class ="alert alert-danger" role ="alert">
       Invalid categoryId. <a href="/" class ="alert-link">Go home</a>. 
    </div>
    {{else}}
    {{#with this.Product}}
    <div class = "card">
        <img src = "link vo hinh anh{{ProID}}" alt= "{{ProName}}" class = "card-img-top">
        <div class = "card-body">
            <h2 class = "card-title">{{ProName}}</h2>
            <p class="card-text">Giá bán: {{Price}}</p>
        </div>
    </div>
    {{/with}}
    {{/if}}
</div>
</div>