<form action="/account/update" method="POST">
    <div class="card shadow">
        <h5 class="card-header">
            TÀI KHOẢN
        </h5>
        <div class="card-body">
            {{#if  this.error}}
            <div class="alert alert-danger" role="alert">
                Invalid CategoryID. <a href="/account" class="alert-link">Back to list</a>
            </div>
            {{else}}
            <div class="form-group">
                <label for="txtid">ID </label>
                <input readonly id="txtid" name="ID" type="text" class="form-control" value="{{this.nguoidung.ID}}">
            </div>
            <div class="form-group">
                <label for="txtNguoiDung">Người Dùng</label>
                <input id="txtNguoiDung" name="NguoiDung" type="text" class="form-control" placeholder="Tên"
                    value="{{this.nguoidung.NguoiDung}}">
            </div>
            <div class="form-group">
                <label for="txtHoTen">Họ Tên</label>
                <input id="txtHoTen" name="HoTen" type="text" class="form-control" placeholder="Tên"
                    value="{{this.nguoidung.HoTen}}">
            </div>
            <div class="form-group">
                <label for="txtButDanh">Bút Danh</label>
                <input id="txtButDanh" name="ButDanh" type="text" class="form-control" placeholder="Tên"
                    value="{{this.nguoidung.ButDanh}}">
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input id="txtEmail" name="Email" type="text" class="form-control" placeholder="Tên"
                    value="{{this.nguoidung.Email}}">
            </div>
            
            {{/if}}
        </div>
        <div class="card-footer text-right">
            <a class="btn btn-outline-primary" href="/account" role="button" title="Back">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            {{#unless this.error}}
            <button type="submit" class="btn btn-danger" formaction="/account/delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Delete
            </button>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
            {{/unless}}
        </div>
    </div>
</form>