<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
  body {
    padding-top: 30px;
  }

  .glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  small {
    display: block;
    line-height: 1.428571429;
    color: #999;
  }
</style>

<div class="container">
  <div class="row">
    <div class="container col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">

          <div class="col-sm-6 col-md-4">
            <img src="/images/profile.jpg" alt="" class="img-rounded img-responsive" />          
          </div>
          {{#if profile}}
          <div class="col-sm-6 col-md-8">
            <h4>{{profile.HoTen}}</h4>
            <small><cite title="Ho Chi Minh, Viet Nam">Hồ Chí Minh city, Việt Nam <i
                  class="glyphicon glyphicon-map-marker">
                </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-user"></i>Biệt danh : {{profile.ButDanh}}</a>
              <br />
              <i class="glyphicon glyphicon-envelope"></i>Email : {{profile.Email}}</a>
              <br />
              <i class="glyphicon glyphicon-gift"></i>Ngày sinh : {{profile.day}}/{{profile.month}}/{{profile.year}}</a>
              <br />
              <i class="glyphicon glyphicon-tags"></i>Tag : </a>
              <br />
              <i class="glyphicon glyphicon-wrench"></i>Phân quyền : <b>{{profile.PhanQuyen}}</b> (0: Admin, 1: Thành viên)</a>
              <br/><br>
              <a href="/account/editprofile/{{profile.ID}}" role="button" class="btn btn-lg btn-warning float-right" >Chỉnh sửa</button></a>
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>