<!DOCTYPE html>
<html>

<head>
  <title>Báo Điện Tử TH16-News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
  <link rel="stylesheet" href="/dependencies/fontawesome.css">
  <style>
    body {
      background-color: #fff;
    }
  
    body {
      margin-top: 20px;
    }
  
    .video-js {
      width: 300px;
      height: 150px;
    }
  
    .vjs-fluid {
      padding-top: 56.25%
    }
  
    @font-face {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 400;
      src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v20/u-440qyriQwlOrhSvowK_l5-cSZMZ-Y.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
  
    /* cyrillic */
    @font-face {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 400;
      src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v20/u-440qyriQwlOrhSvowK_l5-eCZMZ-Y.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
  
    /* vietnamese */
    @font-face {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 400;
      src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v20/u-440qyriQwlOrhSvowK_l5-cyZMZ-Y.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
  
    /* latin-ext */
    @font-face {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 400;
      src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v20/u-440qyriQwlOrhSvowK_l5-ciZMZ-Y.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
  
    /* latin */
    @font-face {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 400;
      src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v20/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    .carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  </style>
  {{{_sections.css}}}
</head>

<body>
  <div id="page-wrap ">
    <header id="page-header" class="navbar clearfix fixed-top navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
      <a class="navbar-brand mr-0" href="/"><img class="logo" alt="logo" src="/images/logo.png" /></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{#each lcCategories}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{TenLoaiCha}}
            </a>
            {{#each lcCategoriesChild}}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">{{TenLoaiCon}}</a>
            </div>
            {{/each}}
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="navbar-nav flex-row">
        <!-- Only in desktop nav -->
        <form id="frmLogout" action="/account/logout" method="POST"></form>
        {{#if isAuthenticated}}
        <div class="nav-item dropdown d-none d-sm-block">
          <a class="nav-link dropdown-toggle" id="header-account-menu-link" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> Chào, <strong>{{authUser.HoTen}} </strong></a>
          <div class="dropdown-menu account-menu" aria-labelledby="header-account-menu-link">
            <a class="dropdown-item" href="/account/profile/{{authUser.ID}}">Thông tin cá nhân</a>
            <a class="dropdown-item" href="/products/uppost">Thêm Bài Viết</a>
            <a class="dropdown-item" href="/account/editpassword/{{authUser.ID}}">Đổi mật khẩu</a>
            <a class="dropdown-item" href="javascript:$('#frmLogout').submit();">Đăng xuất</a>
          </div>
        </div>
        {{else}}
        <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="/account/login">Đăng nhập</a>
        <li class="nav-item nav-link">/</li>
        <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="/account/register">Đăng ký</a>
      </div>
      {{/if}}
      
    </header>

    <br><br>

    <!-- Body -->
    <div class="container-fluid">
      {{{body}}}
    </div>



    <!--SCRIPTS-->
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/vue-router.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/moment.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/js-timestamp.component.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/utilities/open-stripe-checkout.js"></script>
    <script src="/js/pages/498.page.js"></script>
    <script src="/js/pages/account/account-overview.page.js"></script>
    <script src="/js/pages/account/edit-password.page.js"></script>
    <script src="/js/pages/account/edit-profile.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/dashboard/welcome.page.js"></script>
    <script src="/js/pages/entrance/confirmed-email.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/entrance/new-password.page.js"></script>
    <script src="/js/pages/entrance/signup.page.js"></script>
    <script src="/js/pages/faq.page.js"></script>
    <script src="/js/pages/homepage.page.js"></script>
    <script src="/js/pages/legal/privacy.page.js"></script>
    <script src="/js/pages/legal/terms.page.js"></script>

</body>

</html>