<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Báo Điện Tử TH16-News</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link rel="stylesheet" href="/public/style.css">
  {{!-- <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> --}}
  {{!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet"> --}}
  <link href='https:/fonts.googleapis.com/css?family=Nunito+Sans:400,500,700|Quicksand:500,700' rel='stylesheet'
    type='text/css'>

  {{{_sections.css}}}
</head>

<body>
  <header class="header-area">
    <div class="nikki-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container-fluid">
          <nav class="classy-navbar justify-content-between" id="nikkiNav">
            <a href="/" class="nav-brand"><img src="/public/img/core-img/logo.png" alt=""></a>
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
              <div class="classynav">
                <ul>
                  <li><a href="/">Trang chủ</a></li>
                  {{#each lcCategories}}
                  <li><a href="#">{{TenLoaiCha}}</a>
                    <ul class="dropdown">
                      {{#each lcCategoriesChild}}
                      <li><a href="#">{{TenLoaiCon}}</a></li>
                      {{/each}}
                    </ul>
                  </li>
                  {{/each}}
                  <li><a href="about-us.html" data-toggle="tooltip" data-placement="bottom" title="Thông tin">About</a>
                  </li>
                  <li><a href="contact.html" data-toggle="tooltip" data-placement="bottom" title="Liên hệ">Contact</a>
                  </li>
                </ul>

                <!-- Search Form -->
                <div class="search-form">
                  <form action="#" method="get">
                    <input type="search" name="search" class="form-control" placeholder="Search ...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>

                <!-- Social Button -->
                <!-- Only in desktop nav -->
                <form id="frmLogout" action="/account/logout" method="POST"></form>
                {{#if isAuthenticated}}
                <div class="classynav">
                <ul>
                  <li><a href="#">Chào, <strong>{{authUser.HoTen}}</a>
                    <ul class="dropdown">
                      <li><a href="/account/profile/{{authUser.ID}}">Thông tin cá nhân</a></li>
                      {{!-- {{#if writer}} --}}
                      <li><a href="/products/uppost">Thêm Bài Viết</a></li>
                      {{!-- <li><a href="/writer/loadpost">Bài Đã Viết</a></li>
                      {{/if}}
                      {{#if editor}}
                        <li><a href="/editor/browsepost">Đang chờ duyệt</a></li>
                        {{/if}} --}}
                      <li><a href="/account/editpassword/{{authUser.ID}}">Đổi mật khẩu</a></li>
                      <li><a href="javascript:$('#frmLogout').submit();">Đăng xuất</a></li>
                    </ul>
                  </li>
                  </ul>
                {{else}}
                <div class="top-social-info">
                  <a href="/account/login" data-toggle="tooltip" data-placement="bottom" title="Đăng nhập">Login</a>
                  <li class="list-inline-item">/</li>
                  <a href="/account/register" data-toggle="tooltip" data-placement="bottom" title="Đăng ký">Register</a>
                </div>
                {{/if}}
              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- Body -->
  <div>
    {{{body}}}
  </div>

  <!--SCRIPTS-->
  <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
  <script src="/public/js/bootstrap/popper.min.js"></script>
  <script src="/public/js/bootstrap/bootstrap.min.js"></script>
  <script src="/public/js/plugins/plugins.js"></script>
  <script src="/public/js/active.js"></script>

</body>

</html>