<div class="card shadow mt-3">
    <h5 class="card-header">
          BÀI VIẾT
    </h5>
        <div class="card-body">
            {{#if this.error}}
            <div class="alert alert-danger" role="alert">
                 ID không hợp lệ! <a href="/qlbaiviet" class="alert-link"> Quay lại List!</a>
            </div>
            {{else}}
            
            <div class="row">
                <div class="col-sm-6">
                    <form action="/qlbaiviet/update" method="POST">
                        <div class="form-group">
                            <label for="txtid">ID bài viết </label>
                            <input readonly id="txtid"  name="ProID" type="text" class="form-control"  value="{{this.baiviet.ProID}}">
                        </div> 
                        <div class="form-group">
                            <label for="txtanhdaidien">Ảnh đại diện</label>
                            <input id="txtanhdaidien" name="AnhDaiDien" type="text" class="form-control" value="{{this.baiviet.AnhDaiDien}}"  placeholder="Ảnh đại diện">
                        </div>
                        <div class="form-group">
                            <label for="txttieude">Tiêu đề</label>
                            <input id="txttieude" name="TieuDe" type="text" class="form-control" value="{{this.baiviet.TieuDe}}"  placeholder="Tiêu đề">
                        </div>
                        <div class="form-group">
                            <label for="txtIDcha">ID chuyên mục cha</label>
                            <input id="txtIDCha" name="ChuyenMucChaID" type="text" class="form-control" value="{{this.baiviet.ChuyenMucChaID}}"  placeholder="ID Cha">
                        </div>
                        <div class="form-group">
                            <label for="txtIDcon">ID chuyên mục con</label>
                            <input id="txtIDcon" name="ChuyenMucConID" type="text" class="form-control" value="{{this.baiviet.ChuyenMucConID}}"  placeholder="ID con">
                        </div>
                        <div class="form-group">
                            <label for="txtlink">Link video</label>
                            <input id="txtlink" name="Youtube" type="text" class="form-control" value="{{this.baiviet.Youtube}}"  placeholder="Link">
                        </div>
                        <div class="form-group">
                            <label for="txtnhan">Nhãn</label>
                            <input id="txtnhan" name="Nhan" type="text" class="form-control" value="{{this.baiviet.Nhan}}"  placeholder="Nhãn">
                        </div>
                        <div class="form-group">
                            <label for="txtnd">Ngày Đăng</label>
                            <input id="txtnd" name="NgayDang" type="text" class="form-control" value="{{this.baiviet.NgayDang}}"  placeholder="Ngày Đăng">
                        </div>
                        <div class="form-group">
                            <label for="txtnoidung">Nội Dung</label>
                            <input class="form-control" name="NoiDung" id="txtnoidung" value="{{this.baiviet.NoiDung}}" placeholder="Nội dung" rows="3"></input>
                        </div>
                        <div class="form-group">
                            <label for="txtndtt">Nội dung tóm tắt</label>
                            <input id="txtndtt" name="NDTomTat" type="text" class="form-control" value="{{this.baiviet.NDTomTat}}"  placeholder="Nội dung tóm tắt">
                        </div>
                        <div class="form-group">
                            <label for="txttt">Tình Trạng</label>
                            <input id="txttt" name="TinhTrang" type="text" class="form-control" value="{{this.baiviet.TinhTrang}}"  placeholder="Tình Trạng">
                        </div>
                        <div class="form-group">
                            <label for="txtlx">Lượt xem</label>
                            <input id="txtlx" name="LuotXem" type="text" class="form-control" value="{{this.baiviet.LuotXem}}"  placeholder="Lượt xem">
                        </div>
                    {{/if}}   
                    <div class="card-footer text-right">
                        <a class="btn btn-outline-primary" href="/qlthumuccha" role="button" title="Back">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            List
                        </a>
                        {{#unless this.error}}
                        <button type="submit" class="btn btn-danger" formaction="/qlthumuccha/delete">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            Delete
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Save
                        </button>
                        {{/unless}}
                    </div>                  
                    </form>
                </div> 
            </div>
                
        </div>
</div>

