<div>
    <h5 >
          BÀI VIẾT
    </h5>
    <table class="table table-bordered">
        <tr>
            <th scope="col">ProID</th>
            <th scope="col">Ảnh Đại Diện</th>
            <th scope="col">Tiêu Đề</th>
            <th scope="col">ID Chuyên Mục Cha</th>
            <th scope="col">ID Chuyên Mục Con</th>
            <th scope="col">Link Video</th>
            <th scope="col">Nhãn</th>
            <th scope="col">Ngày Đăng</th>
            <th scope="col">Nội Dung</th>
            <th scope="col">Nội Dung Tóm Tắt</th>
            <th scope="col">Tình Trạng</th>
            <th scope="col">Lượt Xem</th>
            <th scope="col" class="text-right">
                <a class="btn btn-outline-success btn-xs" href="/products/uppost" role="button" title="Add">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Thêm bài viết
                </a>
            </th>
        </tr>
    <tbody>
        {{#each this.baiviet}}
        <tr>
            <th scope="row" >{{ProID}}</th>
            <td>{{AnhDaiDien}}</td>
            <td>{{TieuDe}}</td>
            <td>{{ChuyenMucChaID}}</td>
            <td>{{ChuyenMucConID}}</td>
            <td>{{Youtube}}</td>
            <td>{{Nhan}}</td>
            <td>{{NgayDang}}</td>
            <td>{{NoiDung}}</td>
            <td>{{NDTomTat}}</td>
            <td>{{TinhTrang}}</td>
            <td>{{LuotXem}}</td>
            <td class="text-right">
                <a name="" id="" class="btn btn-primary btn-xs" href="/products/editpost/{{ProID}}" role="button" title="Edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>    
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

